
/* html{

    color: #fff;
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    max-width: 1120px;
    background: linear-gradient(150deg, #000000, #9e00ff);
    background-size: 120% 120%;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}

.cabecalho .logo{
    width: 110px;
    height: 65px;
    border-radius: 40%;
    border: 2px solid #fff;
    text-decoration: underline;
    text-align: center;
    line-height: 55px;

    font-family: "Raleway", sans-serif;
    transition: 0.2s;
}

.cabecalho a:hover .logo {
    color: #9443d8;
    border: 2px solid #9443d8;
}

.cabecalho .menu li a{
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 20px;
    transition: 0.2s;
}

.cabecalho .menu li a:hover{
    background-color: #9443d8;
    color: #fff;
    border-radius: 50px;
}

.home {
    display: flex;
    min-height: calc(100vh - 125px);
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}

.home .informacoes{
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 2px;
    padding: 0 15px;
    max-width: 50%;
}

.home .informacoes h1 {
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    margin-bottom: 20px;
}

.home .informacoes p{
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.home .redes-sociais{
    display: flex;
    gap: 20px;
}

.home .redes-sociais a i{
   border: 1px solid #fff; 
   border-radius: 50%;
   width: 50px;
   height: 50px;
   padding: 10px;
   text-align: center;
   font-size: 26px;
   transition: 0.3s;
}

.home .redes-sociais a i:hover{
    color: #9443d8;
    border: 1px solid #9443d8;
    transform: scale(1.1);
}

.home .container-foto .foto{
    max-width: 450px;
    border-radius: 50%
   
}

.home .container-foto img{
    width: 100%;
    border-radius: 50%;
    
}

.home .foto.sombra-interna{
    background: linear-gradient(to right, #8A35C8, #18C063, #00EEA2);
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
}

.projetos{
    padding: 70px 0 70px;
}

.projetos .titulo{
    text-align: center;
    padding: 60px 0;
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase;
}

.projetos .container-projetos{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.projetos .projeto{
    max-width: 340px;
    max-height: 500;
    position: relative;
    display: none;
}

.projetos .projeto.ativo{
    display: block;
}

.projetos .projeto img{
    height: 100%;
}

.projetos .projeto h3{
    background-color: #040203;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
}

.projetos .projeto .informacoes-projeto{
    background-color: #040203;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: 600;
    opacity: 0;
    transition: 0.3s;
    padding: 20px;
}

.projetos .container-projetos .projeto:hover .informacoes-projeto{
    opacity: 0.7;
    background-color: #000;
}

.projetos .btn-mostrar-projetos{
    background: none;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #fff;
    width: 180px;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.projetos .btn-mostrar-projetos:hover{
    background-color: #9443d8;
    transition: 0.3s;
}

.projetos .btn-mostrar-projetos.remover{
    display: none;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} 
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

html {
    font-size: 62.5%;
    color: var(--cor-branca);
    font-weight: 300;
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-fundo-cinza-escuro);
    font-family: var(--fonte-primaria);
    font-size: var(fonte-normal);
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.alinhar-itens-no-centro {
    align-items: center;
}

.redes-sociais a {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
    text-align: center;
    color: var(--cor-branca);
    margin: 0 4px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.redes-sociais a i {
    line-height: 40px;
}

.redes-sociais a:hover {
    color: var(--cor-primaria);
}

.outer-shadow {
    box-shadow: 3px 3px #222327, -3px -3px 3px #454545;
}

.inner-shadow {
    box-shadow: inset 3px 3px 3px #222327, inset -3px -3px -3px #454545;  
}   

.section {
    padding: 7rem 0 7rem;
}

.section-title {
   text-align: center; 
   flex: 0 0 100%;
   max-width: 100%;
   padding: 60px 0;
}

.section-title h2 {
    font-size: var(--fonte-gigante);
    font-weight: 500;
    text-transform: uppercase;
}

.botao {
    font-size: var(--fonte-grande);
    padding: 10px 20px;
    border-radius: 20px;
    transition: all .3s ease;
    background-color: var(--cor-primaria);
}

.botao:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-branca);
}